html,
body {
  padding: 0;
  margin: 0;
  font-family: Lato, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.Resizer {
  background: #000;
  opacity: 0.2;
  z-index: 1;
  box-sizing: border-box;
  background-clip: padding-box;
}

.Resizer:hover {
  transition: all 2s ease;
}

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
}

.Resizer.horizontal:hover,
.Resizer.horizontal.resizing {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.Resizer.vertical:hover,
.Resizer.vertical.resizing {
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5);
}

.DragLayer {
  z-index: 1;
  pointer-events: none;
}

.DragLayer.resizing {
  pointer-events: auto;
}

.DragLayer.horizontal {
  cursor: row-resize;
}

.DragLayer.vertical {
  cursor: col-resize;
}

.editor {
  background-color: #1e1e1e;
  width: 100%;
  color: #efefef;
}

.editor > section {
  position: absolute !important;
  top: 35px;
  left: 0;
  right: 0;
  bottom: 0;
}

.editorHeader {
  position: absolute;
  height: 30px;
  width: 100%;
  padding: 4px;
  background-color: rgb(152, 0, 0);
  font-weight: 600;
  display: flex;
  align-items: center;
  z-index: 10000;
}

.result {
  background-color: #1e1e1e;
  color: #efefef;
  width: 100%;
  height: 100%;
  padding: 1em;
}

.logo {
  width: 150px !important;
  height: 63px !important;
}

.iHeader {
  padding: 4px;
  margin-bottom: 4px;
  display: flex;
  cursor: pointer;
}

.iContent {
  padding: 2px;
  padding-left: 20px;
}
